{% extends "network/layout.html" %}
{% load static %}

{% block body %}
{% include 'network/postform.html' %}
<div class="row">
    <div class="col-8">

        {% include 'network/posts.html' %}
    </div>

    <div class="col-4">
        <button type="button" class="btn btn-info btn-follows">
            Follows <span class="badge badge-light">{{ num_follows }}</span>
        </button>
        <button type="button" class="btn btn-info ">
            Followers <span class="badge badge-light badge-followers-num">{{ num_followers }}</span>
        </button>


        <div>
            <button style="margin-top: 1rem;" type="button" class="btn btn-primary" id="follow-unfollow">Follow</button>
        </div>

    </div>
</div>

{% endblock %}

{% block script %}
<script src="{% static 'network/userpage.js' %}"></script>
<script src="{% static 'network/index.js' %}"></script>
{% endblock %}